In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('mutations_v3.csv')

In [3]:
df.index = df['index']

In [4]:
df = df.drop('index',axis=1)

In [5]:
df.head(1)

,NC1,C1,NC2,NC3,NC4,C2,C3,NC5,C4,NC6,...,NC136,NC137,NC138,NC139,NC140,NC141,C127,C128,NC142,C129
index,,,,,,,,,,,,,,,,,,,,,
RNF43_GRCh37_17:56435161-56435161_Frame-Shift-Del_DEL_C-C--,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
c = [i for i in df.columns if i[0]=='C']

In [7]:
nc = [j for j in df.columns if j[0]=='N']

In [8]:
people = list(df.columns)

In [9]:
def intersection(lst1, lst2):
    '''
    This function finds the intersection of two lists
    '''
    
    lst3 = [value for value in lst1 if value in lst2]
    return lst3

In [10]:
def feature(data, grp):
    '''
    this function finds the best feature within a group of individuals based on TP-FP
    '''
    return(data[intersection(grp,c)].sum(axis=1)\
           -data[intersection(grp,nc)].sum(axis=1)).sort_values(ascending=False).head(1)

In [18]:
import random

In [46]:
random.shuffle(list(people))

In [49]:
fold_1 =df[people[0:int(len(people)/3)]]

In [50]:
fold_1.head(1)

,NC1,C1,NC2,NC3,NC4,C2,C3,NC5,C4,NC6,...,NC47,C35,NC48,C36,C37,C38,NC49,C39,C40,C41
index,,,,,,,,,,,,,,,,,,,,,
RNF43_GRCh37_17:56435161-56435161_Frame-Shift-Del_DEL_C-C--,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [51]:
fold_2 = df[people[int(len(people)/3):int(len(people)*2/3)]]

In [52]:
fold_2.head(1)

,NC50,C42,NC51,NC52,C43,NC53,C44,NC54,C45,C46,...,C86,NC86,C87,NC87,NC88,NC89,C88,C89,C90,NC90
index,,,,,,,,,,,,,,,,,,,,,
RNF43_GRCh37_17:56435161-56435161_Frame-Shift-Del_DEL_C-C--,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
fold_3 = df[people[int(len(people)*2/3):int(len(people))]]

In [54]:
fold_3.head(1)

,C91,C92,NC91,NC92,NC93,C93,C94,C95,C96,NC94,...,NC136,NC137,NC138,NC139,NC140,NC141,C127,C128,NC142,C129
index,,,,,,,,,,,,,,,,,,,,,
RNF43_GRCh37_17:56435161-56435161_Frame-Shift-Del_DEL_C-C--,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
train_1 = pd.concat([fold_1,fold_2], axis = 1)

In [56]:
train_1.head(2)

,NC1,C1,NC2,NC3,NC4,C2,C3,NC5,C4,NC6,...,C86,NC86,C87,NC87,NC88,NC89,C88,C89,C90,NC90
index,,,,,,,,,,,,,,,,,,,,,
RNF43_GRCh37_17:56435161-56435161_Frame-Shift-Del_DEL_C-C--,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
KRAS_GRCh37_12:25398284-25398284_Missense-Mutation_SNP_C-C-A_C-C-T_C-C-G,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [57]:
train_1.shape

(7529, 180)

In [58]:
test_1 = fold_3

In [59]:
train_2 = pd.concat([fold_2,fold_3], axis = 1)

In [60]:
test_2 = fold_1

In [61]:
train_3 = pd.concat([fold_3,fold_1], axis = 1)

In [62]:
test_3 = fold_2

In [63]:
# let's go for the first training dataset

In [65]:
people_1 = list(train_1.columns)

In [111]:
feature(train_1, people_1)

index
RNF43_GRCh37_17:56435161-56435161_Frame-Shift-Del_DEL_C-C--    7
dtype: int64

In [101]:
leaf_1 = []
leaf_2 = []
for i in range(len(people_1)):
    if df[people_1[i]]['RNF43_GRCh37_17:56435161-56435161_Frame-Shift-Del_DEL_C-C--']==1:
        leaf_1.append(people_1[i])
    else:
        leaf_2.append(people_1[i])

In [102]:
feature(train_1.drop('RNF43_GRCh37_17:56435161-56435161_Frame-Shift-Del_DEL_C-C--', axis=0), leaf_1)

index
RPL22_GRCh37_1:6257785-6257785_Frame-Shift-Del_DEL_T-T--    4
dtype: int64

In [103]:
feature(train_1, leaf_2)

index
PTEN_GRCh37_10:89692905-89692905_Missense-Mutation_SNP_G-G-A_G-G-T_G-G-C    7
dtype: int64

In [69]:
def classifier(data, individual, root_node, leaf_node_1, leaf_node_2):
    if data[individual].loc[root_node]==1:
        if data[individual].loc[leaf_node_1]==1:
            return "C"
        else:
            return "NC"
    else:
        if data[individual].loc[leaf_node_2]==1:
            return "C"
        else:
            return "NC"

In [92]:
classifier(train_1, "NC5",
           root_node='RNF43_GRCh37_17:56435161-56435161_Frame-Shift-Del_DEL_C-C--',
           leaf_node_1='RPL22_GRCh37_1:6257785-6257785_Frame-Shift-Del_DEL_T-T--',
           leaf_node_2='PTEN_GRCh37_10:89692905-89692905_Missense-Mutation_SNP_G-G-A_G-G-T_G-G-C')

'NC'

In [93]:
def evaluator(data, root_node, leaf_node_1, leaf_node_2, classifier, individuals):
    TN = FN = TP = FP = 0
    for i in range(len(individuals)):
        if individuals[i][0] == classifier(data,individuals[i],root_node, leaf_node_1, leaf_node_2)=="C":
            TP +=1
        elif individuals[i][0:2] == classifier(data,individuals[i],root_node, leaf_node_1, leaf_node_2)=="NC":
            TN +=1
        elif individuals[i][0]=="N" and classifier(data,individuals[i],root_node, leaf_node_1, leaf_node_2)=="C":
            FP +=1
        elif individuals[i][0]=="C" and classifier(data,individuals[i],root_node, leaf_node_1, leaf_node_2)=="NC":
            FN +=1
            
    return [TP, TN, FP, FN]

In [112]:
evaluator(data=test_1, 
          root_node='RNF43_GRCh37_17:56435161-56435161_Frame-Shift-Del_DEL_C-C--',
          leaf_node_1='RPL22_GRCh37_1:6257785-6257785_Frame-Shift-Del_DEL_T-T--',
          leaf_node_2='PTEN_GRCh37_10:89692905-89692905_Missense-Mutation_SNP_G-G-A_G-G-T_G-G-C',
          classifier=classifier,
          individuals=list(test_1.columns)
         )

[5, 51, 1, 34]

In [104]:
def metrics_calc(conf_mat):
    # Format of conf_mat should be: [TP, TN, FP, FN]
    TP = conf_mat[0]
    TN = conf_mat[1]
    FP = conf_mat[2]
    FN = conf_mat[3]
    accuracy = (TP+TN)/(TP+TN+FP+FN)
    sensitivity = TP/(TP+FN)
    specificity = TN/(TN+FP)
    precision = TP/(TP+FP)
    miss_rate = FN/(FN+TP)
    false_discovery_rate = FP/(FP+TP)
    false_omission_rate = FN/(FN+TN)
    return f""" 
    Accuracy is {accuracy:.2}
    Sensitivity is {sensitivity:.2}
    Specificity is {specificity:.2}
    Precision is {precision:.2}
    Miss Rate is {miss_rate:.2}
    False discovery rate is {false_discovery_rate:.2} 
    False omission rate is {false_omission_rate:.2} 
    """

In [106]:
print(metrics_calc(evaluator(data=test_1, 
          root_node='RNF43_GRCh37_17:56435161-56435161_Frame-Shift-Del_DEL_C-C--',
          leaf_node_1='RPL22_GRCh37_1:6257785-6257785_Frame-Shift-Del_DEL_T-T--',
          leaf_node_2='PTEN_GRCh37_10:89692905-89692905_Missense-Mutation_SNP_G-G-A_G-G-T_G-G-C',
          classifier=classifier,
          individuals=list(test_1.columns)
         )
            ))

    Accuracy is 0.62
    Sensitivity is 0.13
    Specificity is 0.98
    Precision is 0.83
    Miss Rate is 0.87
    False discovery rate is 0.17
    False omission rate is 0.4